__pycache__/
*.pyc
.pytest_cache/
.venv/
env/
venv/
.vscode/
*.ipynb

data/input/
data/sample_input/*
!data/sample_input/.gitkeep

data/output/*
!data/output/.gitkeep

logs/*
!logs/.gitkeep

checkpoints/*
!checkpoints/.gitkeep
